<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>Обо всем понемногу</title>
</head>
<body>
    <h1>Обо всем понемногу</h1>
    Форум для обсуждения множества тем в одном месте<br>
    <div class="col-md6 border rounded">
        <h4>{{topic.name}}</h4>
        <h6>{{topic.text}}</h6><br>
        {% for j in message%}
        <div>
            {{j.author}}: {{j.text}} ({{j.time}})
        </div>
        {% endfor %}
    </div>
</body>
</html>